html
  head
    // load scripts
    script(src="scripts/main.js" type='text/javascript').
  body
    div(class="hand")
      h2 Your Hand:
    div(class="score")
      h2 Possible Scores:
    script(src="//localhost:35729/livereload.js")